html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.game-board {
width: 100vw;
height: 100vh;
border: 1px solid #333;
margin: 0 auto;
position: relative;
overflow: hidden;
background-image: url('cenario1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.botao {
     position: fixed; 
    left: 5px;
    bottom: 10px;
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
}




.game-board::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.game-board.escurecer::after {
    opacity: 1;
}

.game-board.cenario2 {
    background-image: url('cenario2.webp'); /* Coloque o nome da sua segunda imagem aqui */
}


#caixa-mensagem {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
    cursor: pointer; /* ADICIONE ISSO: Avisa o jogador que o texto é clicável */
    user-select: none; /* Opcional: impede que o texto fique azul/selecionado ao clicar rápido */
}