html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.game-board {
width: 100vw;
height: 100vh;
border: 1px solid #333;
margin: 0 auto;
position: relative;
overflow: hidden;
background-image: url('cenario1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.botao {
     position: fixed; 
    left: 5px;
    bottom: 10px;
    width: 40vw;
    max-width: 600px;
    min-width: 300px;
}




.game-board::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.game-board.escurecer::after {
    opacity: 1;
}

.game-board.cenario2 {
    background-image: url('cenario2.webp'); /* Coloque o nome da sua segunda imagem aqui */
}


#caixa-mensagem {
    font-family: "Jersey 10", sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    display: none; /* Começa escondida */
    cursor: pointer;
    user-select: none;

    /* NOVO POSICIONAMENTO: Canto superior esquerdo */
    position: absolute;
    top: 7px;       /* Distância do topo da tela */
    left: 30px;      /* Distância da borda esquerda */
    text-align: left; /* Alinha o texto para a esquerda */
    
    /* Removemos o 'transform' antigo para ele não puxar o texto para o centro */
}